<div style="min-height: 276px;" class="content-wrapper ng-scope" ng-init="getAllUsers()">
    <section class="content-header">
        <h1>add a user record<small></small></h1>
    </section>
    <section class="content clearfix">
        <div class="box">
            <div class="content clearfix">
                <div class="clearfix row-10">
                    <div class="mob-grid-6">
                        <div class="form-group">
                            <label class="labelColor">User Name<span class="requiredClass">*</span></label>
                            <input type="text" name="name" class="form-control mob-grid-12" autofocus ng-model="user.name"  required>
                            <span ng-if="user.name.$error.required && !user.name.$pristine" class="help-block requiredClass ng-scope" style="">Unique identification number is required.</span>
                        </div>
                        <div class="form-group">
                            <label class="labelColor">User Role<span class="requiredClass">*</span></label>
                            <select name="role" class="form-control mob-grid-12" ng-model="user.role"  required>
                                <option value="Driver">Driver</option>
                                <option value="Grbage Collector">Grbage Collector</option>
                            </select>
                            <span ng-if="user.role.$error.required && !user.role.$pristine" class="help-block requiredClass ng-scope" style="">user role is required.</span>
                        </div>
                        <div class="form-group" ng-if="user.role == 'Driver'">
                            <label class="labelColor">Select Vehicle<span class="requiredClass">*</span></label>
                            <select name="vehicleId" class="form-control mob-grid-12" ng-model="user.vehicleId">
                                <option value="">Select Vehicle</option>
                                <option ng-repeat="vehiche in vehicleList" value="{{vehiche._id}}">{{vehiche.name}}</option>
                            </select>
                            <span ng-if="user.vehicleId.$error.required && !user.vehicleId.$pristine" class="help-block requiredClass ng-scope" style="">user vehicle association is required.</span>
                            <span class="hlep-block">** Select a vehical to associate the user with.</span>
                        </div>
                        <div class="form-group" ng-if="user.role == 'Grbage Collector'">
                            <label class="labelColor">Select Collection Center<span class="requiredClass">*</span></label>
                            <select name="ccList" class="form-control mob-grid-12" ng-model="user.collectionCenter">
                                <option value="">Select Garbage Collection Point</option>
                                <option ng-repeat="cc in $root.city.collectionCenters | filter:checkCCCapacity " value="{{cc._id}}">{{cc.name}}</option>
                            </select>
                            <span ng-if="user.ccList.$error.required && !user.ccList.$pristine" class="help-block requiredClass ng-scope" style="">Garbage collection center is required.</span>
                            <span class="hlep-block">** Select a garbage collection center to associate the user with.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" ng-click="adduser(user.$invalid)">Add user</button>
                    </div>
                </div>
                <div class="row" ng-if="tableDataLength">
                    <table ng-table="tableParams" class="table" show-filter="true">
                        <tr ng-repeat="user in $data">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                {{user.name}}</td>
                            <td title="'Role'" filter="{ type: 'text'}" sortable="'role'">
                                {{user.role}}</td>
                            <td title="'Vehicle UIN'" filter="{ type: 'text'}" sortable="'vehicleId.name'">
                                {{user.vehicleId.name}}</td>
                            <td title="'Vehicle Type'" filter="{ type: 'text'}" sortable="'vehicleId.type'">
                                {{user.vehicleId.type}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>