<div style="min-height: 276px;" class="content-wrapper ng-scope" ng-init="initGMap()">
    <section class="content-header">
        <h1>City sanitation plan<small>Area division and navigation plan</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">City plan</li>
        </ol>
    </section>
    <section class="content clearfix">
        <div class="box">
            <div class="content clearfix">
                <div>
                    <div class="row">
                        Enter an address: <br/>
                       <input places-auto-complete size=80
                       ng-model="address"
                       component-restrictions="{country:'in'}"
                       on-place-changed="placeChanged()" />
                       <span class="help-block">**drag the pin in case you want to change the location</span>
                    </div>
                    
                     <div class="row">
                       <ng-map center="{{pinlat}}, {{pinlng}}" zoom="13">
                   
                         <marker position="{{pinlat}}, {{pinlng}}" 
                         draggable="true"
                         on-dragstart="dragStart()"
                         on-dragend="dragEnd()"
                         title="Hello World!"
                         ></marker>
                   
                       </ng-map>
                     </div>
                </div>
            </div>
        </div>
    </section>
</div>
