body{ background: #eee;
font-size: 14px;
}

.custom-row {
margin: 5px;
padding: 10px;
}
.maxWidth600 {
margin: auto;
max-width: 600px;
}
.btn_1{
background-color: #428bca;
border-color: #357ebd;
color: #fff;border-radius: 4px; -moz-user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 400;
line-height: 1.42857;
margin-bottom: 0;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
}
.top_sec1{
      background-color: #ddd;
    
border-color: #ddd;margin: 15px 0;
color: #333;padding: 10px 15px;}
.top_sec1 span{font-size: 16px;padding-left: 10px;}
.top_h1{font-size: 40px;color: #888;border-bottom: 1px solid #eee;padding-bottom: 35px;}
.top_con{background-color: #f3f3f3;
color: #555;
margin-bottom: 20px;
padding: 10px;}
.btm_span{background: #de3626 none repeat scroll 0 0;
border-color: #bf0600;
border-radius: 0;
color: #ffffff;
font-size: 16px;
padding: 15px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);display: block;}
.btm_dv1{-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #eee none repeat scroll 0 0;
border-color: #f5f5f5 #ccc #ccc;
border-image: none;
border-radius: 0 0 5px 5px;
border-style: solid;
border-width: 1px;
font-size: 14px;padding: 15px;}
.spn_contain{background-color: #d9edf7;
border-color: #bce8f1;
color: #31708f;padding: 15px;border-radius: 4px;display: block;}
.dv_form{background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
margin-bottom: 20px;
min-height: 20px;
padding: 19px;margin-top: 20px;}
.dv_form label.label1{ font-size: 25px;
    text-align: center;color: #888;
    display: block;
}
.label2{ font-size: 16px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.btn2{background-color: #96bf48;
border: 1px solid #7a9d37;
color: #fff;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);padding: 6px 12px;border-radius: 2px;}
/*body {
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
color: #00B7FF;
}*/
.optionSpacing .ng-scope {margin-top: 5px}
.title{
color:    #808080;
margin:20px;
font-size: 18px;padding: 15px
}
.text_display{color: #595959;margin:20px;font-size: 14px;padding: 15px}
img{
    border: 1px solid #eee;
    box-shadow:1px 2px 1px 2px #eee;
}
.maxWidth600 {
    margin: auto;
    max-width: 600px;
}
.customColor
{
	color:#FF0000;
}






.headx{
	background: none repeat scroll 0 0 #DE3626;

border-radius: 0;
color: #FFFFFF;
font-size: 16px;
padding: 15px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

}
label .control-label{
/*margin-left: 35px;
text-align: left;
vertical-align: top;*/
width: 150px;

}
.control-group {
    width: 100%;
    margin-bottom: 20px;
}

div .innercont{
    margin:20px;
}
div .quick{
    background:gray;
}
div .bold{
    margin:20px;
}
div .import{
    float:left;
    width:100%;
    background:gray;
    margin:20px;
}
div .down{
    margin:20px;
    background:gray;
    float:left;
    width:100%;
}

/* 24 JUNE */


#wrapper .container .portlet-boxed
{
   background: #fff; 
   border:1px solid #ddd;
   border-radius: 4px;  
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
   padding: 20px;
}

#wrapper .container .portlet-boxed.dashboard{
    padding: 10px;
    min-height: 260px;
    margin-bottom: 20px;
    text-align: center;
}


#wrapper .container .portlet-boxed.dashboard i{ 
    color: #666;
    font-size: 35px;
    padding-bottom: 20px;
}

#wrapper .content{
    background: transparent;
}

.container .outerbox{
   margin-bottom: 40px; 
}

.p-t-10{ padding-top: 10px;}
.p-t-20{ padding-top: 20px;}
.p-t-0{ padding-top: 0;}


input{padding: 4px 0;}

fieldset.scroll, .form-group.scroll{border: 1px solid #ddd;
    height: 172px;
    overflow-y: scroll;
    padding: 10px 20px;}

    fieldset.scroll .control-label {
    display: block;
}

#addresses_list li{    border-bottom: 1px solid #ddd;
    list-style-type: none;
    padding-bottom: 7px;
    padding-top: 7px; }

#addresses_list ul{ padding-left: 17px; overflow-y: auto;}

.p-b-15{ padding-bottom: 15px;}
.p-l-15{ padding-left: 15px;}
.p-r-10{ padding-right: 10px;}
.m-r-20{ margin-right: 20px;}
.m-b-0{margin-bottom: 0 !important;}
.m-t-15{ margin-top: 15px;}
.m-b-15{ margin-bottom: 15px;}
.checkbox span{ display: block; padding-bottom: 15px;}
.minheight{ min-height: 472px}

.color{background: #eee none repeat scroll 0 0;
    min-width: 200px;
    border-radius:5px;
    padding: 17px;}

    .navbar {
    background-color: #2b3d4c;
    border-color: #2b3d4c;
    height: 65px;
    padding-top: 12px;
}

.mapkey{ padding-top: 15px;}

.navbar-nav > li > a {
    color: #fff;
}



.masthead{
     margin-top:20px;
   margin-bottom: 20px; 
      background-color: #fff;
    box-shadow: 1px 1px 2px 1px #888888;
}

.masthead-subtitle{ color:#2b3d4c; padding-left: 15px;}
.btm_dv1{

      background-color: #fff;
    box-shadow: 1px 1px 2px 1px #888888;
}
.centeralign{
    text-align: center;
}

.centeralign .btn2{
background-color: #96bf48;
    border: 1px solid #7a9d37;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 20px auto;
    padding: 9px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 14%;
}

.masthead-subtitle strong {
    font-weight: 500 !important;
}
.top_sec1.upload{ text-align: center;}
.top_sec1.upload input{ display: inline-block;width: 20%;}

#button{
   background-color: #2b3d4c;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #fff;
    left: -1px;
    padding: 7px;
    position: relative;
    cursor: pointer;
    }

    .pricing-content-1 .price-table-pricing > h3 {
    font-size: 60px;
    position: relative;
    margin-bottom: 0;
}

.pricing-content-1 .price-table-footer {
    padding: 20px 0;
}

    .pricing-content-1 .arrow-down.arrow-grey {
    border-top-color: #f7f9fb;
}

.pricing-content-1 .price-table-content .row:last-child {
    padding-bottom: 20px;
}

    .border-top-blue {
    border-top-color: #3598dc !important;
}

.btn.btn-outline.grey-salsa {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #acb5c3;
    color: #acb5c3;
}


.pricing-content-1 .price-column-container:last-child {
    margin-right: 0;
}
.pricing-content-1 .price-column-container:first-child {
    margin-left: 0;
}
.pricing-content-1 .price-column-container.border-active {
    border: 1px solid #e5e9ee;
}
.pricing-content-1 .price-column-container {
    background-color: #fff;
    margin: 0;
    text-align: center;
}
.bg-hover-red:hover, .bg-red {
    background: #e7505a none repeat scroll 0 0;
}

.btn.green:not(.btn-outline) {
    background-color: #32c5d2;
    border-color: #32c5d2;
    color: #fff;
}
.border-top-red {
    border-top-color: #e7505a !important;
}
.bg-green, .bg-hover-green:hover {
    background: #32c5d2 none repeat scroll 0 0;
}
.border-top-green {
    border-top-color: #32c5d2 !important;
}

.bg-blue, .bg-hover-blue:hover {
    background: #3598dc none repeat scroll 0 0;
}
.pricing-content-1 .price-table-head h2 {
    font-size: 26px; color:#fff;
}
.pricing-content-1 .arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid;
    height: 0;
    margin: auto;
    width: 0;
}

.pricing-content-1 .price-column-container {
    text-align: center;
}
.pricing-content-1 .price-table-content {
    background-color: #f7f9fb;
    color: #5c6d7e;
    font-size:14px;
    font-weight: 600;
    min-height: 300px
}
.pricing-content-1 .price-table-content .row:first-child {
    padding-top: 20px;
}

.pricing-content-1 .price-column-container:last-child {
    margin-right: 0;
}
.pricing-content-1 .price-column-container:first-child {
    margin-left: 0;
}
.pricing-content-1 .price-column-container.border-active {
   border: 1px solid #ddd;
    min-height: 565px;
}
.pricing-content-1 .price-column-container {
    background-color: #fff;
    margin: 0;
    text-align: center;
}

.pricing-content-1 .price-table-head {
    color: #fff;
    padding: 20px 0;
}

.btn-red{
      background: #e7505a none repeat scroll 0 0;
      color:#fff;
}

.btn-red:hover{
      background: #e7505a none repeat scroll 0 0;
      color:#fff;
}

#addresses_list{ background: #eee; min-height:500px; }
#directions-panel{ background: #eee none repeat scroll 0 0;
    height: 260px;
    min-height: 500px;
    overflow-y: scroll;
    padding: 6px 12px;}

#directions-panel >div{ height:470px; }

/*map dark theme */
.ng-map-info-window.light{ background: #f2f2f2; }
.ng-map-info-window.light .gm-style-iw{ color:#000; }
.ng-map-info-window.light .gm-style-iw span{  display: inline-block;
    font-weight: bold;
    padding-bottom: 7px; }
/*map dark theme */


/*map light theme */
.ng-map-info-window.dark{ background: #444; }
.ng-map-info-window.dark .gm-style-iw{ color:#fff; }
.ng-map-info-window.dark .gm-style-iw span{  display: inline-block;
    font-weight: bold;
    padding-bottom: 7px; }
/*map light theme */

/* 24 JUNE */
.price-table-content{
    min-height: 364px !important;
}