<div class="masthead">
  <h1 class="masthead-subtitle">
  <strong>Terms and Conditions</strong>
  </h1>
</div>
<div>
  <uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Will I get charged for the first 10 days ?" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    No, our paid plans have a 10 days trial period, if you uninstall our app before that we will not charge anything from you. Inthose 10 days you can enjoy all the features of our application. Shopify will start billing you after that 10 days period.
  </uib-accordion-group>
  <uib-accordion-group heading="What are the main features of Store Locator Pro ?">
  Store locator Pro helps your customers to locate your retail stores more efficiently and helps increase your business. We help you by allowing you to add the stores, provide custom filters and fileds so that you are not restricted by our form's fields and it's all about you. You can check what customers are looking for in the customer lookup section and you can also adjust the stores location on goole map for accurate location, and a lot more for you to explore.
  </uib-accordion-group>
  <uib-accordion-group heading="What is Store Timeout ?">
  Store timeout is a feature that allows you to hide an entire store group after specified days. Use this feature if you want to show some stores foronly a limited period of time.
  </uib-accordion-group>
  <uib-accordion-group heading="Understanding Customer lookup section">
  Customer lookup lets you know which on locations your customers are trying to find you. It is a collective data of all customer searches, it can help you understand your customers and your business demands better.
  </uib-accordion-group>
  
  
  </uib-accordion>
</div>