<div class="masthead">
		<h1 class="masthead-subtitle">
		<strong>Instructions</strong>
		</h1>
</div>
<div class="holder">
<h5>Adding Locations</h5>

<p>With Retail Location Pro you can add any kind of physical locations you like.  This could be retailer's, customers, users, the possibilities are endless.  The only requirements are that the location has a physical address somewhere in the world.</p>

<h5>Address</h5>

<p>
The first thing you want to add is the address of your location and any other info that you have - phone number, fax, etc. </p>

<h5>Filters</h5>

<p>You can add an unlimited amount of filters to your retail locations, these segment your locations for easy sorting.  For example, we could add a filter for “Repairs” or “24 Hour Access” to the retail locations</p>
<img src="../images/filter.png" alt="Image not supported">


</div>