<div style="min-height: 276px;" class="content-wrapper ng-scope" ng-init="getVehicles()">
    <section class="content-header">
        <h1>add collection point stats<small></small></h1>
    </section>
    <section class="content clearfix">
        <div class="box">
            <div class="content clearfix">
                <div class="clearfix row-10">
                    <div class="mob-grid-6">
                        <div class="form-group">
                            <label class="labelColor">Collection Point Status<span class="requiredClass">*</span></label>
                            <select name="cpStatus" class="form-control mob-grid-12" ng-model="stat.cpStatus"  required>
                                <option value="0">Empty (0 - 10%)</option>
                                <option value="1">Partially Full (10% - 80%)</option>
                                <option value="2">Full (80% - 100%)</option>
                            </select>
                            <span ng-if="stat.cpStatus.$error.required && !stat.cpStatus.$pristine" class="help-block requiredClass ng-scope" style="">vehicle status is required.</span>
                            <span class="hlep-block">** Select a Collection point amount of garbage collection status.</span>
                        </div>
                        <div class="form-group">
                            <label class="labelColor">Select Collection Point<span class="requiredClass">*</span></label>
                            <select name="cpId" class="form-control mob-grid-12" ng-model="stat.cpId">
                                <option value="">Select Collection Point</option>
                                <option ng-repeat="cp in cpList" value="{{cp._id}}">{{cp.name}}</option>
                            </select>
                            <span ng-if="stat.cpId.$error.required && !stat.cpId.$pristine" class="help-block requiredClass ng-scope" style="">vehicle association is required.</span>
                            <span class="hlep-block">** Select a vehical to associate the stat with.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button ng-disbled="!stat.cpId || !stat.cpStatus" class="btn btn-info" ng-click="addstat()">Add Stat</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>