
<!--<div id="container" style="width:500px; margin-left:500px;">Placeholder for chart</div>-->
<div style="min-height: 276px;" class="content-wrapper ng-scope" ng-init="initGMap()">
    <section class="content-header">
        <h1>City sanitation plan<small>Area division and navigation plan</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">City plan</li>
        </ol>
    </section>
    <section class="content clearfix">
        <div class="box">
            <div class="content clearfix">
                <div>
                    <div class="row" style="padding:10px">
                       <h1> Sanitation Plan of {{$root.city.name}}</h1>
                       
                    </div>
                    
                     <div class="row">
                       <ng-map center="{{pinlat}}, {{pinlng}}" zoom="13">
                            <custom-marker
                                id="custom-marker-{{$index}}"
                                ng-repeat="dump in $root.city.dumpYards"
                                position="{{dump.lat}}, {{dump.long}}">
                                  <!--<img width="64" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/President_Barack_Obama%2C_2012_portrait_crop.jpg/140px-President_Barack_Obama%2C_2012_portrait_crop.jpg" align="left" /> Hi, How Are You? <br/>-->
                                  <img src="/img/pollution-003-64.png" height="20px" title="{{dump.name}}" style="cursor: pointer;">
                            </custom-marker>
                            <custom-marker
                                id="custom-marker1-{{$index}}"
                                ng-repeat="gc in $root.city.collectionCenters"
                                position="{{gc.lat}}, {{gc.long}}">
                                  <!--<img width="64" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/President_Barack_Obama%2C_2012_portrait_crop.jpg/140px-President_Barack_Obama%2C_2012_portrait_crop.jpg" align="left" /> Hi, How Are You? <br/>-->
                                  <img src="/img/dump.png" height="15px" title="{{gc.name}}" style="cursor: pointer;">
                            </custom-marker>
                       </ng-map>
                     </div>
                </div>
            </div>
        </div>
    </section>
</div>
