<div class="masthead clearfix">
    <h1 class="masthead-subtitle"><Strong>Uninstall App</Strong></h1>
</div>
<div class="section section-dashboard p-t-20" cloak>
    <h5>Instructions to Uninstall Store Locator Pro</h5>
    <div class="offer-details">

        
       
           <p> In Shopify admin <strong> Apps->Remove this app</strong> will remove the Store Locator Pro app</p>
        
           
            <p>After you've done that the app is uninstalled and you will no longer be billed for it. Keep in mind that charges are made on the first of the app billing cycle. So you should uninstall the app before that date. Otherwise, Shopify will charge you for the entire month even if you've uninstalled only one day after the cycle has started. There is no pro-rating (this is according to Shopify's Terms).</p>
        
        
        
    </div>
</div>