<aside class="main-sidebar ng-scope">
    <!-- sidebar: style can be found in sidebar.less -->
    <div style="position: relative; overflow: hidden; width: auto;" class="slimScrollDiv">
      <section style="overflow: hidden; width: auto;" class="sidebar">
      <!-- Sidebar user panel -->
      
      <!-- search form -->
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li ng-class="{'active':isActiveState('dashboard')}" >
          <a ui-sref="dashboard">
            <i class="fa fa-dashboard"></i> <span>Reports Dashboard</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('city')}">
          <a href="#/">
            <i class="fa fa-dashboard"></i> <span>City</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('addDump')}" >
          <a href="#/addDump">
            <i class="fa fa-dashboard"></i> <span>Add Dump Yard</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('addGC')}" >
          <a href="#/addGC">
            <i class="fa fa-dashboard"></i> <span>Add Garbage Collection Point</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('users')}" >
          <a ui-sref="users">
            <i class="fa fa-users"></i> <span>Users</span>
          </a>
        </li>
         <li ng-class="{'active':isActiveState('addvehicle')}" >
          <a ui-sref="addvehicle">
            <i class="fa fa-truck"></i> <span>Add Vehicles</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('vehiclestat')}" >
          <a ui-sref="vehiclestat">
            <i class="fa fa-truck"></i> <span>Add Vehicle Stats</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('reportgarbage')}" >
          <a ui-sref="reportgarbage">
            <i class="fa fa-dashboard"></i> <span>Report Garbage</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('listreportedgarbage')}" >
          <a ui-sref="listreportedgarbage">
            <i class="fa fa-dashboard"></i> <span>User Reported Location</span>
          </a>
        </li>
        <li ng-class="{'active':isActiveState('vehicleroutes')}" >
          <a ui-sref="vehicleroutes">
            <i class="fa fa-dashboard"></i> <span>Vehicle Routes</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>